.light{
  background:#f4f7fb;
  min-height:100vh;
  padding:20px;
}

.dark{
  background:#121212;
  color:white;
  min-height:100vh;
  padding:20px;
}

/* HEADER */
.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.mode-btn{
  background:linear-gradient(45deg,#4ade80,#22c55e);
  border:none;
  padding:8px 14px;
  border-radius:20px;
  color:white;
  cursor:pointer;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:20px;
}

/* CARD */
.card{
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  transition:.3s;
  position:relative;
}

.dark .card{
  background:#1f1f1f;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.card img{
  width:100%;
  height:160px;
  object-fit:cover;
}

.badge{
  position:absolute;
  top:10px;
  left:10px;
  background:#4ade80;
  padding:4px 10px;
  border-radius:20px;
  font-size:12px;
  font-weight:bold;
}

/* BUTTONS */
.btn-row{
  display:flex;
  justify-content:space-between;
  padding:10px;
}

.read{
  background:#6366f1;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:20px;
}

.like{
  background:#ff4d4d;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:20px;
}

.del{
  background:#111;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:20px;
}

/* ANIMATION */
.animate{
  animation:fade .7s ease;
}

@keyframes fade{
  from{opacity:0; transform:translateY(30px)}
  to{opacity:1; transform:translateY(0)}
}

/* FOOTER */
footer{
  text-align:center;
  margin-top:40px;
  opacity:.7;
}